*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy-light;
    color: #fff;
}

html , body{
    height: 100%;
    width: 100%;
}

#main{
    height:85%;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 5vw 10vw;
}

#left{
    height: 100%;
    
    background-color: #333;
    width: 45%;
    /* background-image:url(images/animal.jpg); */
    background-size: cover;
    background-position: center;
    

}

#right{
     height: 100%; 
    /* background-color: red; */
    width: 55%;
    padding: 0 3vw;
}

#right h3{
font-size: 40px;
}

#all-songs{
     /* background-color: blueviolet; */
    height: 85%;
    margin-top: 25px;
}
.song-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #5a5a5a;
    padding: 13px 15px ;
}

.song-card:hover{
    background-color:#444 ;
}
.song-card:nth-last-child(1){
    /* background-color: rgb(152, 157, 152); */
    border-bottom: 1px solid #5a5a5a;

}
 
.song-card #part1{
    display: flex;
    align-items: center;
    pointer-events: none;
}


.song-card img{
    height: 55px;
    width: 55px;
    margin-right: 20px ;
}

.song-card h2{
    font-size: 20px;
    font-weight: 200;
}

.song-card h6{
    font-size: 14px;
}
#player{
    height: 15%;
    width: 100%;
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#player h3{
    background-color:#000000;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player h3 i{
font-size: 22px;
}

#player h3  :active{
scale: 0.9;
}

